<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css" type="text/css">
    <title>API-CONVERSOR</title>
</head>
<body>
    
    <h1> APP - Conversor de moneda</h1>

    <div>
        <h2>Currency converter</h2>
        <form id="converter-form">
            <input type="text" id="amount" placeholder="Amount">
            <input type="text" id="from-currency" placeholder="From Currency (ej., USD)">
            <input type="text" id="to-currency" placeholder="To Currency (ej., EUR)">
            <button type="submit">Convert</button>
        </form>
        <div id="result"></div>
    </div>

    <script src="../static/scripts/index.js"></script>
</body>
</html>